.borderRadius4 {
    border-radius: 4px;
}

.blancoTranslucido {
    background-color: rgba(255, 255, 255, 0.8);
}

.botonInput {
    position: relative;
    width: var(--anchoBoton);
    height: var(--anchoBoton);
    color: grey;
    border-radius: 4px;
    border: 1px solid grey;
    transition: var(--botonTransicion);
    
    &:hover {
        color: white;
        background-color: var(--colorSeleccionado_2);
        border-color: var(--colorSeleccionado_2); 
    }

    &:has(input:checked) {
        color: white;
        background-color: var(--colorSeleccionado_1);
        border-color: var(--colorSeleccionado_1);
    }

    input {
        position: absolute;
        appearance: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputOculto {
    position: absolute;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}