@import url("https://fonts.googleapis.com/css2?family=Anta");

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--grisOscuro);

    .panel {
        position: absolute;
        left: calc(-1 * var(--anchoPanel));
        width: var(--anchoPanel);
        height: calc(100% - (2 * var(--margenPanel)));
        border-radius: var(--borderRadius10);
        padding: 10px;
        transition: var(--transicionPanel);

        &:has(.movimientoPanel .inputOculto:checked) {
            left: calc(var(--margenPanel) - 2px);

            & .movimientoPanel {
                top: calc(100% - 100px);
                color: var(--colorSeleccionado_1);
            }
        }

        .tituloConfiguracion {
            width: 100%;
            height: var(--anchoBoton);
            background-color: var(--grisOscuro);
            color: white;
            margin-bottom: 20px;
        }

        .movimientoPanel {
            position: absolute;
            top: 0;
            right: calc(0% - (var(--margenPanel) + var(--anchoBoton)));
            width: var(--anchoBoton);
            height: 100px;
            font-weight: bold;
            writing-mode: vertical-lr;
            font-size: 12px;
            color: grey;
            letter-spacing: 4px;
            border: 1px solid grey;
            transition: var(--transicionPanel);
        }

        .marcoEstatico {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .listaSecciones {
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: var(--anchoBoton);
                margin-bottom: 20px;

                .secciones {
                    position: relative;
                    width: var(--anchoBoton);
                    aspect-ratio: 1/1;
                    border: 1px solid red;
                }
            }

            .seccion {
                position: absolute;
                left: 200%;
                width: 100%;
                height: calc(100% - var(--anchoBoton) - 20px);
                transition: 1s ease-in-out;

                .titulo {
                    width: 100%;
                    height: var(--anchoBoton);
                    background-color: var(--colorSeleccionado_2);
                    color: white;
                    margin-bottom: 30px;
                }
            }
        }

        .marcoEstatico:has(.listaSecciones .botonInput:first-of-type input:checked) .seccion:first-of-type,
        .marcoEstatico:has(.listaSecciones .botonInput:nth-of-type(2) input:checked) .seccion:nth-of-type(2),
        .marcoEstatico:has(.listaSecciones .botonInput:nth-of-type(3) input:checked) .seccion:nth-of-type(3),
        .marcoEstatico:has(.listaSecciones .botonInput:nth-of-type(4) input:checked) .seccion:nth-of-type(4),
        .marcoEstatico:has(.listaSecciones .botonInput:nth-of-type(5) input:checked) .seccion:nth-of-type(5),
        .marcoEstatico:has(.listaSecciones .botonInput:nth-of-type(6) input:checked) .seccion:nth-of-type(6) {
           left: 0;
           transition: left 1s ease-in-out;
        }
    }
}